<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <parameter name="queryTextParameter"  value="French Bulldog"/>
    <test name="YahooSearchUITest" >
        <classes>
            <class name="YahooSearchTest">
                <methods>
                    <include name="test0001"/>
                    <include name="test0002"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
